@import "nullstyle.scss";

//===============================================
//ШРИФТЫ
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500,600,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext);
//===============================================\

//===============================================
//ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 533px;
$pc: $maxWidthContainer + 12;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
//===============================================

//===============================================
//ПАРАМЕТРЫ КОНТЕЙНЕРА
[class*="__container"] {
    max-width: $maxWidthContainer;
    margin: 0px auto;
    @media (max-width: $pc) {
        max-width: 970px;
    }
    @media (max-width: $tablet) {
        max-width: 750px;
    }
    @media (max-width: $mobile) {
        max-width: none;
        padding: 0 10px;
    }
}
//==============================================

//==============================================
//HTML,BODY
body {
    background-color: #f2f5f7;
    font-family: "Space Grotesk", sans-serif;
    color: #020202;
}

//=============================================
//WRAPPER

//==============================================
//HEADER

.main {
    padding: 55px 0px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
}

.adress {
    font-size: 16px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #fff;
}
.adress__block {
    position: relative;
    padding: 24px 0px;

    &._active {
        .select-adress__body {
            display: block;
        }
        .select-adress {
            img {
                transform: rotate(180deg);
                transition: all 0.3s ease 0s;
            }
        }
    }
    // .adress__select
    &__select {
    }
}
.select-adress {
    cursor: pointer;
    display: flex;
    align-items: center;
    // .select-adress__current
    &__current {
        margin-right: 20px;
    }
    // .select-adress__body
    &__body {
        display: none;
    }
    // .select-adress__item
    &__item {
        cursor: pointer;
        padding-top: 24px;
    }
    img {
        transition: all 0.3s ease 0s;
    }
}

//==================
.option {
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3502ff;
    background: #fff;
    border-radius: 18px;
    height: 91px;
    cursor: pointer;
    position: relative;

    &__name {
        font-size: 16px;
        line-height: 150%;

        @media (min-width: $mobile){
            font-size: 18px;
        }
    }
    &__arrow {
        display: none;
    }
    &__trash {
        display: none;

        &._show {
            display: block;
        }
    }

    &._trash {
        justify-content: space-between;
    }
    &._active {
        border: none;
        border-radius: 0;
        height: 77px;
        justify-content: center;
        padding-left: 19px;

        .option__arrow {
            display: block;
            position: absolute;
            left: 12px;
            transition: all 0.3s ease 0s;
            transform: rotate(90deg);

            @media (min-width: $mobile){
                left: 24px;
            }
        }
    }
}
.option-button {
    display: none;

    &._active {
        display: block;
    }
}
.instruments-option {
    display: none;

    &._active {
        display: block;
        position: relative;
    }
}
.instrument-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // .instrument-option__name
    &__name {
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
}

.teachers-option {
    display: none;

    &._active {
        display: block;
    }
}

.teacher-option {
    padding: 32px 0px;
    border-radius: 18px;
    border: 1px solid #3502ff;
    background: #fff;
    position: relative;
    margin-bottom: 19px;
    // .teacher-option__info
    &__info {
        padding: 0px 24px;
        margin-bottom: 23px;
    }
    // .teacher-option__categories
    &__categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 51px;
        height: 100%;
        padding: 12px 0px;
        background: rgba(242, 245, 247, 0.5);
        margin-bottom: 23px;

        @media (min-width: $mobile){
        }
    }
    // .teacher-option__category
    &__category {
        display: flex;
        align-items: center;
        gap: 11px;
        font-size: 14px;
        line-height: 150%;
    }
    // .teacher-option__date
    &__date {
        padding: 0px 24px;
    }
    &__message {
        position: absolute;
        top: 22px;
        right: 24px;
        width: 40px;

        @media (min-width: $mobile){
            width: 52px;
        }
    }
}
.teacher-info {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    // .teacher-info__avatar
    &__avatar {
        width: 145.44px;
        height: 120.77px;
        transform: rotate(-9.203deg);
        border-radius: 66.226px;
    }
    // .teacher-info__names
    .teacher-info__names {
    }
    // .teacher-info__name
    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
    }
    // .teacher-info__instrument
    &__instrument {
        font-size: 16px;
        line-height: 150%;
    }
}

.category-teacher {
    color: #a1aeb7;
    // .category-teacher__value1
    &__value1 {
    }
    // .category-teacher__switch
    &__switch {
        height: 20px;
        input {
            width: 42px;
            height: 20px;
            -webkit-appearance: none;
            background-color: #020202;
            outline: none;
            border-radius: 20px;
            transition: all 0.3s ease 0s;
            position: relative;

            &:checked::before {
                left: 24px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: solid 1px #020202;
                border-radius: 50%;
                top: 0;
                left: 0;
                transition: all 0.3s ease 0s;
                transform: scale(1.2);
            }
        }
    }
    &__value2 {
    }
}
.checked {
    color: #020202;
    &._active {
        color: #a1aeb7;
    }
}
.unchecked._active {
    color: #a1aeb7;
    &._active {
        color: #020202;
    }
}

.date-teacher {
    // .date-teacher__title
    &__title {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 14px;

        a {
            color: #3502ff;
            text-decoration: underline;
        }
    }
}
.date-teachers {
    // .date-teachers__items
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 14px;
    }
    // .date-teachers__item
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 57px;
        border-radius: 54px;
        border: 1px solid #c2d1d9;
        font-size: 18px;
        line-height: 150%;
        font-family: "Space Grotesk", sans-serif;
        cursor: pointer;
    }
}
.calendar {
    // .calendar__item
    &__item {
        font-family: Montserrat;
        font-size: 18px;
    }
}

._hiden {
    display: none;
}

.calendar-option {
    display: none !important;

    &._active {
        display: flex !important;
    }
}

//=======
.calendar-option {
    padding: 32px 24px;
    border-radius: 18px;
    border: 1px solid #3502ff;
    background-color: #fff;
    width: 100%;
    margin: 3em auto;
    padding: 32px 0px;
    background: #fff;
    position: relative;
}
.calendar-wrapper {
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 15px;
    @media (any-hover: hover) {
        &:hover {
            overflow: auto;
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(166, 166, 166);
                border-radius: 10px;
            }
        }
    }
    @media (max-width: $mobile) {
        overflow: auto;
    }
}

table {
    border-collapse: separate; /* Говорит таблице, что границы ячеек раздельные */
    border-spacing: 30px 0px;
}
td {
    height: 32px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 14.28571429%;
}
td.not-current {
    color: #c0c0c0;
}
td.today {
}
td.normal {
    position: relative;
    cursor: pointer;
    &._selected {
        & .bg {
            height: 32px;
            width: 32px;
            background-color: #bdff02;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    p{
        position: relative;
        z-index: 1;
    }
}
thead td {
    border: none;
    padding-bottom: 23px;
}
.currentMonth {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 700;
}
.prevMonth,
.nextMonth {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    color: rgba(2, 2, 2, 0.5);
    top: 32px;
}
.prevMonth {
    left: 24px;
}
.nextMonth {
    right: 24px;
}
#prevMonth {
    width: 70px;
    height: 20px;
    position: absolute;
    z-index: 10;
    top: 32px;
    left: 24px;
    cursor: pointer;
}
#nextMonth {
    width: 70px;
    height: 20px;
    position: absolute;
    z-index: 10;
    top: 32px;
    right: 24px;
    cursor: pointer;
}

//====================
.calendar-option {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    // .calendar-option__time
    &__time {
        font-size: 16px;
        line-height: 150%;
    }
    &__button {
        display: none;

        &._active {
            display: block;
        }
    }
}
._btn {
    height: 50px;
    background-color: #3502ff;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.calendar-time {
    margin-bottom: 14px;
    position: relative;
    // .calendar-time__name
    &__name {
        text-align: center;
        margin-bottom: 14px;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    // .calendar-time__items
    &__items {
        display: none;
        justify-content: center;
        gap: 10px;
    }
    // .calendar-time__item
    &__item {
        font-size: 18px;
        width: 155px;
        height: 57px;
        border-radius: 54px;
        border: 1px solid #c2d1d9;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &._selected {
            background-color: #bdff02;
        }
    }
    // .calendar-time__arrow
    &__arrow {
        position: absolute;
        top: 10px;
        right: 34px;
        transition: all 0.3s ease 0s;
    }

    &._active {
        .calendar-time__items {
            display: flex;
        }
        .calendar-time__arrow {
            transform: rotate(180deg);
        }
    }
}
