@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500,600,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
[class*=__container] {
  max-width: 533px;
  margin: 0px auto;
}
@media (max-width: 545px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  background-color: #f2f5f7;
  font-family: Montserrat;
  color: #020202;
}

.main {
  padding: 55px 0px;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
}

.adress {
  font-size: 15px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #fff;
}

.adress__block {
  position: relative;
  padding: 24px 0px;
}
.adress__block._active .select-adress__body {
  display: block;
}
.adress__block._active .select-adress img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.select-adress {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select-adress__current {
  margin-right: 20px;
}
.select-adress__body {
  display: none;
}
.select-adress__item {
  cursor: pointer;
  padding-top: 24px;
}
.select-adress img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3502ff;
  background: #fff;
  border-radius: 18px;
  height: 91px;
  cursor: pointer;
}
.option__name {
  font-size: 15px;
  line-height: 150%;
}
.option__arrow {
  display: none;
}
.option__trash {
  display: none;
}
.option__trash._show {
  display: block;
}
.option._active {
  border: none;
  border-radius: 0;
  height: 77px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 19px;
}
.option._active .option__arrow {
  display: block;
  margin-right: 150px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.instruments-option {
  display: none;
}
.instruments-option._active {
  display: block;
  position: relative;
  z-index: 10;
}

.instrument-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.instrument-option__name {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.teachers-option {
  display: none;
}
.teachers-option._active {
  display: block;
}

.teacher-option {
  padding: 32px 0px;
  border-radius: 18px;
  border: 1px solid #3502ff;
  background: #fff;
  position: relative;
}
.teacher-option__info {
  padding: 0px 24px;
  margin-bottom: 23px;
}
.teacher-option__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 51px;
  height: 48px;
  background: rgba(242, 245, 247, 0.5);
  margin-bottom: 23px;
}
.teacher-option__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  font-size: 14px;
  line-height: 150%;
}
.teacher-option__date {
  padding: 0px 24px;
}
.teacher-option__message {
  position: absolute;
  top: 22px;
  right: 24px;
}

.teacher-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.teacher-info__avatar {
  width: 145.44px;
  height: 120.77px;
  -webkit-transform: rotate(-9.203deg);
          transform: rotate(-9.203deg);
  border-radius: 66.226px;
}
.teacher-info__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.teacher-info__instrument {
  font-size: 16px;
  line-height: 150%;
}

.category-teacher {
  color: #a1aeb7;
}
.category-teacher__switch {
  height: 20px;
}
.category-teacher__switch input {
  width: 42px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #020202;
  outline: none;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.category-teacher__switch input:checked::before {
  left: 24px;
}
.category-teacher__switch input::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: solid 1px #020202;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.checked {
  color: #020202;
}
.checked._active {
  color: #a1aeb7;
}

.unchecked._active {
  color: #a1aeb7;
}
.unchecked._active._active {
  color: #020202;
}

.date-teacher__title {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 14px;
}
.date-teacher__title a {
  color: #3502ff;
  text-decoration: underline;
}

.date-teachers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 14px;
}
.date-teachers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 57px;
  border-radius: 54px;
  border: 1px solid #c2d1d9;
  font-size: 18px;
  line-height: 150%;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
}

.calendar__item {
  font-family: Montserrat;
  font-size: 18px;
}

._hiden {
  display: none;
}